[PowerAutomate]License monitor/Licensemonitor-latest_20250909093935/Microsoft.Flow/flows/c1f7f6a7-a89c-4cde-82bc-bfd680538ed7/definition.json
{"name":"27c37e44-9ac8-4698-b90d-2720cc3c2a46","id":"/providers/Microsoft.Flow/flows/27c37e44-9ac8-4698-b90d-2720cc3c2a46","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"License monitor","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e4a4d628-d3bc-4a24-b1e7-5e275bf2ccf4","type":"User","tenantId":"f260df36-bc43-424c-8f44-c85226657b01"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-09T07:20:56.7051948Z","connectionKeySavedTimeKey":"2025-09-09T07:20:16.3746541Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_-_daily":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2025-08-06T03:00:00.000Z"},"metadata":{"operationMetadataId":"b4622c12-92a1-4215-9ba4-0d5d71690257"},"type":"Recurrence"}},"actions":{"List_rows_present_in_a_AllDevicesTable":{"runAfter":{"Initialize_CurrentDate_variable":["Succeeded"]},"metadata":{"014GGCKUD6SLKWCLQCZRH3NVBUEJLGT677":"/LicenseNotification/CV licenses_TEST.xlsx","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}","operationMetadataId":"c2078ec7-9256-453c-8f71-9635a254b700","01KMLVUOLJWQPIMWHF4ZGJHJDFE3S2DAOA":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"01KMLVUOLJWQPIMWHF4ZGJHJDFE3S2DAOA","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","$top":5000},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_rows_present_in_a_VariableTable":{"runAfter":{"Initialize_CurrentDate_variable":["Succeeded"]},"metadata":{"014GGCKUD6SLKWCLQCZRH3NVBUEJLGT677":"/LicenseNotification/CV licenses_TEST.xlsx","tableId":"{97738056-4977-4AE2-B190-8F7DB4D2A4F3}","operationMetadataId":"604cf2e1-cd3d-4fab-bf11-f46b9199616a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{97738056-4977-4AE2-B190-8F7DB4D2A4F3}"},"authentication":"@parameters('$authentication')"}},"Initialize_Servername_variable":{"runAfter":{"Save_current_date_in_cell":["Succeeded"]},"metadata":{"operationMetadataId":"508d81bc-43b7-4d8f-b480-64ef4594f50e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Servername","type":"string"}]}},"Initialize_Hostname_variable":{"runAfter":{"Initialize_Servername_variable":["Succeeded"]},"metadata":{"operationMetadataId":"effd5fae-5c6e-412b-840e-8ae306dd0039"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Hostname","type":"string"}]}},"Initialize_IP_variable":{"runAfter":{"Initialize_Hostname_variable":["Succeeded"]},"metadata":{"operationMetadataId":"6f347e80-69d6-444e-9419-d039bff9e553"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IP","type":"string"}]}},"Initialize_device_type_variable":{"runAfter":{"Initialize_IP_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a288f2ad-4e64-4fd6-9b5f-4098213e08bb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DeviceType","type":"string"}]}},"Initialize_License_expiration_date_variable":{"runAfter":{"Initialize_device_type_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d47b25a1-43bf-46ba-9654-86ebb388e089"},"type":"InitializeVariable","inputs":{"variables":[{"name":"License expiration date","type":"string"}]}},"Initialize_Type_of_license_variable":{"runAfter":{"Initialize_License_expiration_date_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0c4c504c-6506-4823-b6eb-035926ecd9d6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Type of license","type":"string"}]}},"Initialize_Daysleft_variable":{"runAfter":{"Initialize_Type_of_license_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9722caba-acb0-418f-9d99-7a576b3474ce"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Daysleft","type":"string"}]}},"Initialize_Customer_variable":{"runAfter":{"Initialize_stamp_daysleft_variable":["Succeeded"]},"metadata":{"operationMetadataId":"5cb48e15-de4a-4799-b1d4-cacb7941fa9f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Customer","type":"string"}]}},"Initialize_Email_title_variable":{"runAfter":{"Initialize_Customer_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7a1483fc-ecc0-4ae7-8cc2-6f233727749d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email title","type":"string"}]}},"Initialize_Distribution_list_variable":{"runAfter":{"Initialize_Email_title_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e9141889-b795-4dcf-9dd8-5c671ee5f662"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Distribution list","type":"string"}]}},"Apply_to_each_AllDevicesTable":{"foreach":"@outputs('List_rows_present_in_a_AllDevicesTable')?['body/value']","actions":{"Condition":{"actions":{"Set_Device_type_variable_from_AllDevicesTable":{"runAfter":{},"metadata":{"operationMetadataId":"867c68fc-e482-42ce-993c-fa9264996f97"},"type":"SetVariable","inputs":{"name":"DeviceType","value":"@items('Apply_to_each_AllDevicesTable')?['Device type']"}},"List_rows_present_in_a_EmailTable":{"runAfter":{"Set_type_of_license_variable":["Succeeded"]},"metadata":{"014GGCKUD6SLKWCLQCZRH3NVBUEJLGT677":"/LicenseNotification/CV licenses_TEST.xlsx","tableId":"{58A21431-77D8-4FE7-BD06-E15D5F02F377}","operationMetadataId":"9277033e-258d-447e-bffc-2c61472de9c0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{58A21431-77D8-4FE7-BD06-E15D5F02F377}"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"f8b0e48f-f3b1-45a3-880b-45828abbdad2"},"type":"Query","inputs":{"from":"@body('List_rows_present_in_a_EmailTable')?['value']","where":"@and(\n  equals(item()?['Customer'], variables('Customer')),\n  equals(item()?['DeviceType'], variables('DeviceType'))\n)\n"}},"Compose":{"runAfter":{"List_rows_present_in_a_EmailTable":["Succeeded"]},"metadata":{"operationMetadataId":"a9f6bcaa-21be-499b-ac1b-4bccd263db90"},"type":"Compose","inputs":"@body('List_rows_present_in_a_EmailTable')"},"Set_ip_variable":{"runAfter":{"Set_hostname_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3814d56b-1078-44b6-a1a0-825518a62cd6"},"type":"SetVariable","inputs":{"name":"IP","value":"@items('Apply_to_each_AllDevicesTable')?['IP']"}},"Set_hostname_variable":{"runAfter":{"Set_servername_variable":["Succeeded"]},"metadata":{"operationMetadataId":"4dcec290-b6d0-4383-a504-66bc9e619acc"},"type":"SetVariable","inputs":{"name":"Hostname","value":"@items('Apply_to_each_AllDevicesTable')?['Host Name']"}},"Set_servername_variable":{"runAfter":{"Set_Customer_variable_from_AllDevicesTable":["Succeeded"]},"metadata":{"operationMetadataId":"783d18ac-2d6c-4715-b05d-8f8fd28b7898"},"type":"SetVariable","inputs":{"name":"Servername","value":"@items('Apply_to_each_AllDevicesTable')?['Server Name ']"}},"Set_Customer_variable_from_AllDevicesTable":{"runAfter":{"Set_Daysleft_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2938df9c-7db5-46be-8c20-02c6e757cf1a"},"type":"SetVariable","inputs":{"name":"Customer","value":"@items('Apply_to_each_AllDevicesTable')?['Customer']"}},"Set_Daysleft_variable":{"runAfter":{"Set_Device_type_variable_from_AllDevicesTable":["Succeeded"]},"metadata":{"operationMetadataId":"e9771141-0bee-414e-a266-696d5aa2b27e"},"type":"SetVariable","inputs":{"name":"Daysleft","value":"@{items('Apply_to_each_AllDevicesTable')?['DaysLeft']}"}},"Set_license_expiration_date_variable":{"runAfter":{"Set_ip_variable":["Succeeded"]},"metadata":{"operationMetadataId":"ef720978-62ef-4ede-b914-e56f6f752c46"},"type":"SetVariable","inputs":{"name":"License expiration date","value":"@items('Apply_to_each_AllDevicesTable')?['License Expiration date']"}},"Set_type_of_license_variable":{"runAfter":{"Set_licenseExpirationDateFormat_variable":["Succeeded"]},"metadata":{"operationMetadataId":"db7923f0-2d40-4aa0-b8cf-6277abf86805"},"type":"SetVariable","inputs":{"name":"Type of license","value":"@items('Apply_to_each_AllDevicesTable')?['Type of license']"}},"Apply_to_each_EmailTable":{"foreach":"@outputs('List_rows_present_in_a_EmailTable')?['body/value']","actions":{"Condition_2":{"actions":{"Set_email_title_variable":{"runAfter":{},"metadata":{"operationMetadataId":"b610034c-5b58-4b82-b194-46c979c52df8"},"type":"SetVariable","inputs":{"name":"Email title","value":"@items('Apply_to_each_EmailTable')?['Email title']"}},"Set_distribution_list_variable":{"runAfter":{"Set_email_title_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3e406ac4-1f60-4916-9372-5a66e8a11a62"},"type":"SetVariable","inputs":{"name":"Distribution list","value":"@items('Apply_to_each_EmailTable')?['Distribution list']"}},"Switch":{"runAfter":{"Set_distribution_list_variable":["Succeeded"]},"cases":{"McCain":{"case":"McCain","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"23db6a7b-f105-4805-9a9a-6c014a5f3b93"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"014GGCKUD6SLKWCLQCZRH3NVBUEJLGT677":"/LicenseNotification/CV licenses_TEST.xlsx","operationMetadataId":"55222b44-a039-47e7-b210-0ee1ade44472","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"Navistar":{"case":"Navistar","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"ea58b723-85d5-4dc7-a4e6-c6c4c55753ca"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_2":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"765474fd-0396-488e-8ef0-1c0b9dbe26e7","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"Honda_ODC":{"case":"Honda ODC","actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"7e363985-e14e-466b-831a-0b2a5fd2eb7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_3":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"351d4443-1fe1-44c8-ad8f-f0b105b35fab","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"Honda_HDC":{"case":"Honda HDC","actions":{"Send_an_email_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"c155e939-52e4-4f23-98b0-3802ad004bf1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_4":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"b2fddfcb-9ac1-4384-b28f-6ec45d522384","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"AirCanada":{"case":"AirCanada","actions":{"Send_an_email_(V2)_5":{"runAfter":{},"metadata":{"operationMetadataId":"adca5bc0-fa5c-44a2-911e-91a4eb80c844"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_5":{"runAfter":{"Send_an_email_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"99125313-dafc-4c8d-99a5-ca0df9321370","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"BIL":{"case":"BIL","actions":{"Send_an_email_(V2)_6":{"runAfter":{},"metadata":{"operationMetadataId":"f2c54d72-0c2c-4570-8d83-2eeeaff9be3b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_6":{"runAfter":{"Send_an_email_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"92c31c27-0635-47f5-9fb2-db6cd018258e","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"Kadaster":{"case":"Kadaster","actions":{"Send_an_email_(V2)_7":{"runAfter":{},"metadata":{"operationMetadataId":"bfe40432-2daf-4485-8eda-62e4598861b3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_7":{"runAfter":{"Send_an_email_(V2)_7":["Succeeded"]},"metadata":{"operationMetadataId":"bf85b155-9a58-4ff7-935d-9f8f098373e5","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"CNH_IT":{"case":"CNH IT","actions":{"Send_an_email_(V2)_8":{"runAfter":{},"metadata":{"operationMetadataId":"66c14449-65d1-402f-9b94-a5e6a16f6c7f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_8":{"runAfter":{"Send_an_email_(V2)_8":["Succeeded"]},"metadata":{"operationMetadataId":"bddb76ea-4a5d-4002-8c42-8638eb3e28fd","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"CNH_US":{"case":"CNH US","actions":{"Send_an_email_(V2)_9":{"runAfter":{},"metadata":{"operationMetadataId":"c6dc6577-2b01-4aca-bb58-0ce470cb4102"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Marek.Ostrowski@kyndryl.com","emailMessage/Subject":"⏰ @{variables('Email title')} –  @{variables('Servername')} in @{variables('Daysleft')} Days","emailMessage/Body":"<p>Hello Team,<br>\n<br>\nThe license for the following device will expire in <strong> @{variables('Daysleft')} days </strong>, on @{variables('licenseExpirationDateFormat')}.<br>\n<br>\nDevice details:<br>\n<br>\nDL: @{variables('Distribution list')}\n<br>\n&nbsp;&nbsp;&nbsp;- Customer: <strong>@{variables('Customer')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Server Name: <strong>@{variables('Servername')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Hostname: <strong>@{variables('Hostname')}</strong><br>\n&nbsp;&nbsp;&nbsp;- IP Address: <strong>@{variables('IP')}</strong><br>\n&nbsp;&nbsp;&nbsp;- Device Type: <strong>@{variables('DeviceType')}</strong><br>\n<br>\nPlease review and take the necessary steps to renew the license and avoid potential service interruptions.</p>\n\n\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_a_row_9":{"runAfter":{"Send_an_email_(V2)_9":["Succeeded"]},"metadata":{"operationMetadataId":"3bedee1b-e234-4a1c-bb27-e8c7eaec3976","tableId":"{EC3EEC22-0C01-471E-8B7E-91DA8109A6C2}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{5ACCBB4D-797F-4CB8-98A8-55CF3FBF4A0A}","idColumn":"id_key","id":"@variables('id_key')","item/Email sent":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('Customer')","metadata":{"operationMetadataId":"563d2618-cd93-48c3-83f7-501b4796dfca"},"type":"Switch"}},"runAfter":{"Set_deviceTypeFromEmail_variable_2":["Succeeded"]},"expression":{"and":[{"equals":["@variables('customerFromEmailTable')","@variables('Customer')"]},{"equals":["@variables('deviceTypeFromEmailTable')","@variables('DeviceType')"]}]},"metadata":{"operationMetadataId":"0011d8c5-fc18-4ab2-a33f-fc638f9422fa"},"type":"If"},"Set_customerFromEmail_variable":{"runAfter":{},"metadata":{"operationMetadataId":"add16da0-2ccd-4928-84b2-d9214a994144"},"type":"SetVariable","inputs":{"name":"customerFromEmailTable","value":"@items('Apply_to_each_EmailTable')?['Customer']"}},"Set_deviceTypeFromEmail_variable_2":{"runAfter":{"Set_customerFromEmail_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f872c609-343d-4713-88b9-4fff0c95bbfe"},"type":"SetVariable","inputs":{"name":"deviceTypeFromEmailTable","value":"@items('Apply_to_each_EmailTable')?['DeviceType']"}}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"18836b67-05eb-4ad7-a4d3-53b19d914404"},"type":"Foreach"},"Set_licenseExpirationDateFormat_variable":{"runAfter":{"Set_license_expiration_date_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3765f275-394e-466e-a9b5-4a20f479b89b"},"type":"SetVariable","inputs":{"name":"licenseExpirationDateFormat","value":"@{formatDateTime(addDays('1900-01-01', sub(int(variables('License expiration date')), 2)), 'yyyy-MM-dd')}"}}},"runAfter":{"Set_emailSent_variable":["Succeeded"]},"expression":{"and":[{"equals":["@variables('stamp_daysleft')","License expires within 6 months"]},{"or":[{"equals":["@empty(variables('emailSent'))","@true"]},{"greaterOrEquals":["@div(\r\n  sub(\r\n    ticks(utcNow()),\r\n    ticks(addDays('1900-01-01', sub(int(variables('emailSent')), 2)))\r\n  ),\r\n  864000000000\r\n)",14]}]}]},"metadata":{"operationMetadataId":"e88043b4-cb38-4a37-b794-5f383aecb1a2"},"type":"If"},"Set_id_key_variable":{"runAfter":{},"metadata":{"operationMetadataId":"cc919722-896c-4803-8d21-62c08ac56901"},"type":"SetVariable","inputs":{"name":"id_key","value":"@items('Apply_to_each_AllDevicesTable')?['id_key']"}},"Set_stamp_daysleft_variable":{"runAfter":{"Set_id_key_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a3aa881d-db52-404b-8c71-27ffeb9ef735"},"type":"SetVariable","inputs":{"name":"stamp_daysleft","value":"@items('Apply_to_each_AllDevicesTable')?['stamp_daysleft']"}},"Set_emailSent_variable":{"runAfter":{"Set_stamp_daysleft_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9dac931a-ad54-49b1-8f99-e0d24370e368"},"type":"SetVariable","inputs":{"name":"emailSent","value":"@items('Apply_to_each_AllDevicesTable')?['Email sent']"}}},"runAfter":{"Initialize_email_sent_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e33bbe35-3259-4717-93d5-a0e1698471d2"},"type":"Foreach"},"Initialize_CurrentDate_variable":{"runAfter":{},"metadata":{"operationMetadataId":"1438f97a-5030-4032-ad30-6ec9f01c8170"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentDate","type":"string","value":"@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"}]}},"Initialize_id_key_variable":{"runAfter":{"Initialize_Distribution_list_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a3aaf73e-19ed-4df2-85f2-28b2f1e9cf85"},"type":"InitializeVariable","inputs":{"variables":[{"name":"id_key","type":"string"}]}},"Initialize_stamp_daysleft_variable":{"runAfter":{"Initialize_Daysleft_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2292c51f-57a8-43a2-80a5-3d5cac76b082"},"type":"InitializeVariable","inputs":{"variables":[{"name":"stamp_daysleft","type":"string"}]}},"Initialize_customerFromEmailTable_variable":{"runAfter":{"Initialize_id_key_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b04efc10-5261-4eb1-bdb3-8a8413ddc200"},"type":"InitializeVariable","inputs":{"variables":[{"name":"customerFromEmailTable","type":"string"}]}},"Initialize_deviceTypeFromEmailTable_variable":{"runAfter":{"Initialize_customerFromEmailTable_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9d2ed831-d808-4a91-a96d-217af29bb083"},"type":"InitializeVariable","inputs":{"variables":[{"name":"deviceTypeFromEmailTable","type":"string"}]}},"Initialize_licenseExpirationDateFormat_variable":{"runAfter":{"Initialize_deviceTypeFromEmailTable_variable":["Succeeded"]},"metadata":{"operationMetadataId":"c00af9d7-8171-4fe7-908d-41e73235bde3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"licenseExpirationDateFormat","type":"string"}]}},"Initialize_email_sent_variable":{"runAfter":{"Initialize_licenseExpirationDateFormat_variable":["Succeeded"]},"metadata":{"operationMetadataId":"78872db3-d51a-45c1-9fa1-380d3a844be0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"emailSent","type":"string"}]}},"Save_current_date_in_cell":{"runAfter":{"List_rows_present_in_a_AllDevicesTable":["Succeeded"],"List_rows_present_in_a_VariableTable":["Succeeded"]},"metadata":{"014GGCKUD6SLKWCLQCZRH3NVBUEJLGT677":"/LicenseNotification/CV licenses_TEST.xlsx","operationMetadataId":"56125cd1-1be0-41f2-8300-40b69b91543b","tableId":"{97738056-4977-4AE2-B190-8F7DB4D2A4F3}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"PatchItem"},"parameters":{"source":"groups/4b7d4111-cf0d-4702-a2c3-54c052b6b829","drive":"b!ak-Hlx0LkE2iNd60_PIvCrc39-NWNRVGodoc0NWCC7UbueBu9cj9TYKQbRF0Wd6w","file":"/.IRS Offerings&Customers/.Cyber Vault/Licenses/CV licenses_23_07.xlsx","table":"{97738056-4977-4AE2-B190-8F7DB4D2A4F3}","idColumn":"Variable","id":"TodayDate","item/Value":"@variables('CurrentDate')"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_excelonlinebusiness_1":{"connectionName":"shared-excelonlinebu-d1617578-9587-4e6b-b615-5602fac0fc2e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-485eab7c-1c86-4c72-96a2-1365e062ce26","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}